<div class="mt-12">

    <h1>{{replies.title}}</h1>
 

{{!-- Chat bubbles --}}
{{#each replies as |reply|}}

<div class="container" style="width: 50%; margin-left:auto; margin-right:auto">
  <img src="/avatar.jpg" width="30" height="30" alt="Avatar">
  <p>{{body}}</p>
  <span class="time-right">{{format_date createdAt}}</span>
</div>
{{/each}}
 

{{!-- Submit text section --}}
{{!-- {{#if loggedIn}} --}}
        <div class="form-group px-3" style="width: 50%; margin-left:auto; margin-right:auto"> 
            <textarea id="body" name="body" class="form-control" rows="2" placeholder="Type your message">{{body}}
            </textarea> 
            <input type="button" class="submitReply" style="margin-left:auto; margin-right:auto" value="Submit"/>
        </div>
    </div>
</div>
{{!-- {{else}} --}}
{{!-- <div>
    <p>Please login or sign-up to post</p>
</div> --}}
{{!-- {{/if}} --}}

<script src="/add-reply.js"></script>